@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* HOME PAGE CODE PLEASE DON'T TOUCH*************/
* {
  box-sizing: border-box;
}
clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#homepage body {
  font-family: "Montserrat", sans-serif;
}
div.navbar a {
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
  font-size: 17px;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
  letter-spacing: 1px;
}
div.navbar .icon a {
  border: 1px solid black;
  margin-left: 50px;
}
div.navbar .icon a:hover,
a:active {
  opacity: 0.3;
}
div.navbar .icon a:link,
a:visited {
  margin-top: 10px;
  border: 1px solid black;
  padding: 0px;
}

div.navbar {
  height: 70px;
  width: 100%;
  background-color: #d0b8ac;
  z-index: 9999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
div.navbar a:link,
a:visited {
  text-decoration: none;
  color: black;
  padding: 10px;
}

div.navbar a:hover,
a:active {
  text-decoration: none;
  color: black;
  border-bottom: solid 2px #041004;
}
#homepage div.part1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 800px;
}
#homepage div.text2 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  width: 800px;
  height: 150px;
  color: white;
  text-shadow: 2px 2px black;
  top: 20%;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding: 35px;
  border: 5px solid white;
  letter-spacing: 1px;
  margin-left: 300px;
}
#homepage div.text1 {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  width: 800px;
  height: 150px;
  color: white;
  text-shadow: 2px 2px black;
  top: 50%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  border: 5px solid white;
  letter-spacing: 1px;
  margin-left: 300px;
}

#homepage div.container {
  position: relative;
}

#homepage .text p {
  color: black;
  font-family: "Merriweather", serif;
  font-size: 15px;
  width: 500px;
  position: relative;
  bottom: 8px;
  text-align: center;
  text-decoration: none;
}

#homepage div.part3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 500px;
  background-color: #efe5dc;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: left;
  align-items: center;
}

#homepage div.part3 p {
  font-family: "Montserrat", sans-serif;
  height: 200px;
  width: 50%;
  border: solid 2px black;
  padding: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 50px;
  margin-left: 60px;
}
div.part4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 100px;
  background-color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: left;
  align-items: center;
  opacity: 0.7;
}

div.part4 ul li {
  float: right;
  display: inline-block;
  margin: 10px;
  text-align: center;
  list-style-type: none;
}
div.part4 img {
  width: 70px;
  height: 70px;
}

#homepage div.part3 .container {
  position: relative;
  width: 50%;
}

#homepage div.part3 .image {
  opacity: 1;

  width: 400px;
  height: 300px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#homepage div.part3 .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#homepage div.part3 .container:hover .image {
  opacity: 0.3;
}

#homepage div.part3 .container:hover .middle {
  opacity: 1;
}
#homepage div.part3 .text8 a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin-right: 110px;
  font-weight: bold;
  text-align: center;
}

#homepage div.part3 .text8 a:hover {
  border-bottom: 2px solid black;
}
/* CONTACT CODE PLEASE DON'T TOUCH*************/

/* COLLECTION CODE PLEASE DON'T TOUCH*************/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

#collection body {
  background-color: white;
}

#collection .column {
  float: left;
  padding: 0px 8px 0px 8px;
}

#collection .column :hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#collection .column1 :hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#collection .column2 :hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#collection .column3 :hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#collection .column1 {
  float: right;
  padding: 0px 18px 0px 8px;
}

#collection .column2 {
  float: right;
  padding: 0px 8px 0px 8px;
}

#collection .column3 {
  float: left;
  padding: 0px 16px 0px 8px;
}

#collection .row::after {
  content: "";
  clear: both;
  display: table;
}

#collection * {
  box-sizing: border-box;
}

#collection h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  text-decoration: none;
  padding-right: 70px;
  padding-left: 70px;
}

#collection .boxed {
  background-color: #d0b8ac;
  border: 1px solid black;
  width: 395px;
  height: 150px;
  text-align: center;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#collection .container {
  box-sizing: border-box;
  position: relative;
}

#collection .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

#collection .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#collection p {
  text-align: center;
  font-family: "Merriweather", serif;
  padding-left: 0;
  padding-right: 0;
}

#collection .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.box3 a {
  color: white;
  font-size: large;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text a {
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

#collection .text :hover {
  text-decoration: none;
  border-bottom: solid 2px white;
  text-shadow: 2px 2px 3px white;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

div.box3 {
  background-color: #efe5dc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#collection div.box3 p {
  text-align: center;
  padding-left: 100px;
  padding-right: 200px;
  font-family: "Merriweather", serif;
}

#collection div.box4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 100px;
  background-color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: left;
  align-items: center;
  opacity: 0.7;
}

#collection div.box4 ul li {
  float: right;
  display: inline-block;
  margin: 10px;
  text-align: center;
  list-style-type: none;
}

#collection div.box4 img {
  width: 70px;
  height: 70px;
}

/*About page css**************************/

#about p {
  padding-left: 400px;
  padding-right: 100px;
  width: 1300px;
  font-size: x-large;
  font-family: "Montserrat", sans-serif;
}

#about h2 {
  padding-left: 400px;
  padding-right: 100px;
  font-size: xx-large;
  font-family: "Merriweather", serif;
}

#about h3 {
  padding-left: 400px;
  padding-right: 100px;
  font-size: x-large;
  font-family: "Merriweather", serif;
}

#about #fit_icon {
  float: left;
  padding: 20px;
}
#about .center,
.links {
  background-color: #efe5dc;
  display: block;
  height: 220px;
  margin-left: 280px;
  margin-right: auto;
  position: relative;
  z-index: 100;
}

#about .shoppingBag {
  position: absolute;
  top: 340px;
  left: 8px;
  width: 300px;
}

#about .avatar {
  position: absolute;
  top: 900px;
  left: 100px;
}

#about .review {
  position: absolute;
  top: 1000px;
  left: 1210px;
  width: 300px;
}

#about .avatar {
  position: absolute;
  top: 900px;
  left: 100px;
}

#about .review {
  position: absolute;
  top: 1000px;
  left: 1210px;
  width: 300px;
}
#colorstrip {
  position: absolute;
  top: 78px;
  width: 95%;
  height: 220px;
  background-color: #efe5dc;
  border-color: #efe5dc;
}

#whitestrip {
  position: absolute;
  top: 78px;
  left: 410px;
  width: 158px;
  height: 220px;
  background-color: white;
  border-color: white;
  z-index: 100;
}
#whitestrip2 {
  position: absolute;
  top: 78px;
  left: 985px;
  width: 158px;
  height: 220px;
  background-color: white;
  border-color: white;
  z-index: 100;
}

/* CONTACT PAGE CODE PLEASE DON'T TOUCH*************/

body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f3d8c7;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
}
.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
select.fcf-form-control[size],
select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus,
.fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.fcf-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.fcf-btn-primary:focus,
.fcf-btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg,
.fcf-btn-group-lg > .fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block + .fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block,
input[type="reset"].fcf-btn-block,
input[type="button"].fcf-btn-block {
  width: 100%;
}

div.navbar .icon a {
  border: 1px solid black;
  margin-left: 50px;
}
div.navbar .icon a:hover,
a:active {
  opacity: 0.3;
}
div.navbar .icon a:link,
a:visited {
  margin-top: 10px;
  border: 1px solid black;
  padding: 0px;
}
