body{
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
    font-size: medium;
    text-align: center;
    

}
h2{
    border: 2px solid rgb(24, 65, 42);
    padding: 30px;
    margin: 50px;
}